@import "tailwindcss";

/* .active {
  font-weight: 700;
  color: black;
  font-size: larger;
} */

.nav-link {
  position: relative;
  text-decoration: none;
  color: #333;
  padding: 5px 0;
  cursor: pointer;
}

.nav-link button {
  cursor: pointer;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background-color: black; /* blue */
  transition: width 0.3s ease;
  animation-duration: 100px;
}

/* hover underline */
.nav-link:hover::after {
  width: 100%;
}

/* active link underline */
.nav-link.active::after {
  width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  overflow-x: hidden;
}
